@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-image: url(../assets/img/steve-johnson-Xx_d26R37E4-unsplash.jpg);
  background-size: cover;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span::before {
  color: white;
  font-size: 30px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  background-color: white;
  font-family: 'Playfair Display', serif;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  height: 90px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  font-size: large;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

.home-main {
  height: 100%;
  background-image: url(../assets/img/steve-johnson-Xx_d26R37E4-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.home-main section {
  background-color: white;
  display: grid;
  grid-column: 2;
  justify-content: center;
  height: 250px;
  margin-top: 105px;
}

.home-main-title {
  font-size: 80px;
  letter-spacing: 5px;
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: underline;
}

.home-main-button {
  width: 75px;
  height: 20px;
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 12px;
  background-color: white;
  color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.home-main-button:hover {
  background-color: black;
  color: white;
}

.blogs-main {
  display: grid;
  font-family: 'Lato', sans-serif;
}

.blogs-news-container {
  background-image: url(../assets/img/hero.jpg);
  background-size: cover;
  background-position: left;
  padding: 0 50px 40px;
}

.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.blogs-main-new h1 {
  font-family: 'Playfair Display', serif;
}

.blogs-news-img-container {
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 90%;
}

.blogs-new-info-container {
  grid-column: 2;
}

.blogs-news-info-container h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
}

.blogs-new-info-container p {
  margin-bottom: 35px;
}

.blogs-posts-container {
  padding: 0 50px 40px;
}

.blogs-posts-container h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 50px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  text-align: center;
}

.blogs-button {
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 12px;
}

.blogs-button:hover {
  background-color: black;
  color: white;
}

.blogs-posts-container .post-container {
  margin-top: 20px;
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}

.blogs-posts-container .post-container #post-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.blogs-posts-container .post-container p {
  margin-bottom: 30px;
}

.blogs-posts-container .post-container img {
  width: 100%;
}

footer {
  width: 100%;
  height: 70px;
  background-image: url(../assets/img/steve-johnson-Xx_d26R37E4-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  border-top: 35px solid black;
  text-align: center;
}

footer p {
  font-family: 'Playfair Display', serif;
  color: white;
  margin-top: 30px;
}

.blog-post-img-container {
  padding: 0 50px 40px;
}

.blog-post-img-container img {
  width: 100%;
}

.blog-post-main-container {
  padding: 0 50px 40px;
}

.blog-post-main-container h3 {
  font-family: 'Playfair Display', serif;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.blog-post-main-container article h1 {
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}

.contact-main-container {
  width: 100%;
  min-height: 250px;
  text-align: center;
  padding-bottom: 50px;
  border-top: 1px solid black;
}

.contact-main-container div {
  display: inline-block;
  width: 49.5%;
  height: 100%;
}

.contact-main-container div a {
  border-bottom: 1px solid black;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding-bottom: 5px;
}

.contact-main-container .contact-left,
.contact-right {
  text-align: center;
  margin-top: 85px;
}

.contact-main-container .contact-right {
  border-left: 1px solid black;
}

.contact-main-container img {
  width: 100px;
  margin-right: 20px;
}

.profile-main-container {
  padding: 70px 40px;
  margin-bottom: 50px;
  background-image: url(../assets/img/hero-me.jpg);
  background-size: cover;
  background-position: left;
}

.profile-main-container img {
  width: 430px;
  margin-right: 35px;
  border-right: 5px solid white;
  border-top: 5px solid white;
}

.profile-main-container .profile-container {
  display: flex;
  color: white;
}

.profile-main-container .profile-container h2 {
  font-size: 38px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.profile-main-container .profile-container p {
  font-size: 20px;
  letter-spacing: 1px;
}

.profile-main-projects {
  padding: 0 50px 40px;
}

.profile-main-projects h3 {
  font-family: 'Playfair Display', serif;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  text-align: center;
}

.projects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-container {
  padding: 0 5px;
}

.project-container h4 {
  font-family: 'Playfair Display', serif;
}
